#data-grid-demo {
  min-height: 700px;
}

.modal-note {
  max-height: 500px;
  overflow: auto;

  .title-note {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  th {
    display: none;
  }

  .ant-collapse-content-box {
    padding: 0px;
  }
}

:deep img-preview {
  position: relative;
  width: 100%;
}

:deep img {
  position: relative;
  width: 270px;
  height: 345px;
}

.anticon {
  cursor: pointer;
}

.custom-action {
  text-align: center;
}

.ant-row {
  align-items: flex-start;
}

.ant-collapse {
  .ant-collapse-item {
    .ant-collapse-header {
      padding: 7px;
    }
  }
}

.warring-modal {
  font-size: 12px;
  line-height: 0px;
}

.ant-form-item-label {
  text-align: left;
}

:deep .clr {
  label {
    color: red;
    width: 150px;
  }
}

.clr-text {
  color: red;
}

.clb,
.clb-label label {
  color: black !important;
}

.dflex {
  display: flex;
}

.custom-flex {
  align-items: flex-start;
}

.warring-bank {
  display: flex;
  align-items: center;
}

.pl-5 {
  padding-left: 5px;
}

.custom-lineHeight {
  line-height: 3px;
}

:deep.modal-note th {
  display: none;
}

:deep .ant-collapse-content>.ant-collapse-content-box {
  max-height: 470px;
  overflow: scroll;
}

.custom-footer-modal {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

:deep label {
  float: left;
}

// :deep .ant-form-item-label {
//   width: 120px !important;
// }
