
.confirm-button {
    margin-left: 100px;
}

.confirm-modal p {
    white-space: normal;
    font-size: 13px;
    line-height: 16px;
}

.email-input .ant-form-item-label {
    white-space: normal;

    display: inline-block;
    text-align: center;
    line-height: 16px;
}

.detail-address {
    margin-left: 7px;
}

.result-address {
    margin-left: 20%;
}

.ant-form-item {
    margin-bottom: 10px;
}

.warring-modal {
    font-size: 13px;
    line-height: 5px;
}

.label-br label {
    white-space: normal;
}

.textarea_340 {
   
    margin-left: 21px;
}
.post-code {
    margin-left: 25px;
}

::v-deep .red {
    label {
      color: red;
    }
}