
.cell-button-add {
    padding-left: 100px !important;
}

.cell-center {
    text-align: center !important
}

.dx-select-checkbox {
    display: inline-block !important;
}

#data-grid-demo {
    min-height: 700px;
}

.dflex {
    display: flex;
}

.custom-flex {
    align-items: flex-start;
    align-items: center;
}
label {
    margin-right: 10px;
  }
