
.cell-button-add {
    padding-left: 100px !important;
}

.cell-center {
    text-align: center !important
}

.dx-select-checkbox {
    display: inline-block !important;
}

#data-grid-demo {
    min-height: 700px;
}

.dflex {
    display: flex;
}

.custom-flex {
    align-items: flex-start;
    align-items: center;
}
label {
    margin-right: 10px;
  }

.search-form-bf340 {
    padding: 4px 10px 4px;
  
    >div {
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      margin-right: 15px;
    }
  
    label {
      margin-right: 10px;
    }
  
    .lable-item {
      white-space: nowrap;
      margin-right: 10px;
      width: auto !important;
    }
  
    .col {
      align-items: center;
      display: flex;
      align-items: center;
      margin-top: 20px;
  
      .lable-item {
        width: 110px;
        display: inline-block;
      }
  
      .item:nth-child(2) {
        margin-left: 30px;
      }
    }
  }
