@import "../../../../../assets/styles/settingStyle.scss";
#pa-510 {
    margin-top: 10px;

    .custom-title-table {
        border: 1px solid #d7d7d7;
        padding: 10px;
        margin-top: 10px;
        justify-content: space-between;
    }

    ::v-deep .ant-form-item-label {
        >label {
            width: 85px;
        }
    }

    .top-content {
        margin-bottom: 10px;
        padding: 2px 4px;

    }

    .input-text {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        >button {
            margin: 0px 10px;
        }
    }

    .header-text-3 {
        background-color: #558ED5;
        padding: 5px;
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 10px;
    }

    ::v-deep .custom-layout {
        padding: 10px 10px 10px 0;

        >div {
            border: 1px solid #d7d7d7;
            padding: 10px;
            height: 100%; 
        }
    }

    ::v-deep .ant-switch {
        background-color: #1890ff;
    }

    .ml-3 {
        margin-left: 3px;
    }

    .custom-note {
        >span {
            font-size: 11px;
            color: #666666;
            padding-left: 5px;
        }
    }

    .custom-grade-cell {
        display: flex;
        align-items: center;

        .custom-grade-cell-tag {
            padding: 3px 10px;
            border: 1px solid #304967;
            margin-right: 10px;
            border-radius: 5px;
            min-width: 50px;
            text-align: center;
        }
    }
}

.button-open-tab {
    color: white;
    background-color: blue;
    font-size: 10px;
    border: none;
    border-radius: 5px;
    padding: 9px 7px;
    margin-left: 3px;
    cursor: pointer;
}

.deduction-main {
    max-height: 200px;
    overflow: scroll;
    border: 1px solid #ddd;
    padding-left: 5px;
    padding-top: 5px;
}

::v-deep .custom-deduction {
    display: flex;
    align-items: center;
    justify-content: space-between;

    >span {
        margin-right: 10px;
    }

    >div {
        display: flex;
        align-items: center;
    }
    margin-bottom: $margin-bottom+px;;
}

::v-deep .dx-master-detail-cell {
    padding: 0 !important;
}

.text-align-center {
    text-align: center;
}

.button-form-modal {
    margin: 0px 5px;
}

.hover-underlined:hover {
    text-decoration: underline;
}

::v-deep .dx-datagrid-text-content {
    white-space: pre-wrap;
    text-align: left !important;
}

::v-deep .dx-button-mode-contained {
    height: 34px;
}
.disabledBlock {
    pointer-events: none;
    opacity: 0.8;
}
