.modal-email-pa730{
    padding: 30px;
    .input-email{
        border-radius: 5px; 
        margin: 0px 10px;
        padding: 2px 10px;
    }
  }
.footer{
    justify-content: center;
    align-items: center;
}
.custom-flex{
    text-align: center;
}
