#pa-730 {
    #gridContainerPA730 {
        height: calc(100vh - 240px);
    }

    :deep .dx-freespace-row {
        display: none !important;
    }

    .custom-flex {
        display: flex;
        align-items: flex-start;
        align-items: center;
    }

    .created-date {
        float: right;
        display: flex;
        align-items: center;

        .lable-item {
            font-size: 14px;
        }
    }

    .global-year {
        margin-top: 6px;
    }

    :deep(.dx-button-content) {
        padding: 3px;
    }

    .lable-item {
        font-size: 16px;
        font-weight: 600;
    }

    .page-content {
        .lable-item {
            font-size: 14px;
        }

        :deep .ant-switch-checked {
            background-color: black;
        }
    }

    :deep .dx-datagrid-text-content {
        white-space: break-spaces;
        text-align: left !important;
    }
}