#ac-610 {
    .confirm {
        color: red;
    }

    margin-top: 10px;
    // padding: 10px 10px 10px 0;

    .total-user {
        background-color: #17375E;
        color: white;
        display: flex;
        align-items: center;

        >div {
            font-size: 16px;
            width: 50%;
            text-align: center;
            line-height: 16px;

            .dx-icon-user {
                font-size: 55px;
            }
        }
    }

    .text-align-center {
        text-align: center;
    }

    :deep .ant-form-item-label>label {
        width: 180px;
        padding-left: 10px;

    }

    :deep .red .ant-form-item-label>label {
        color: red;
    }

    :deep .custom-layout {
        margin-top: 10px;
        padding: 10px 10px 10px 0;

        >div {
            border: 1px solid #d7d7d7;
            padding: 10px;
            height: 100%;
        }
    }

    .custom-note {
        margin-left: 150px;
        >span {
            font-size: 11px;
            color: #666666;
        }
    }

    :deep .active-row-key {
        background-color: #337AB7;
        color: white;
    }

    #active-save{
        display: none;
    }
    
}
.custom-modal-delete {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 20px;

    img {
        width: 40px;
        margin-right: 5px;
    }

    span {
        padding: 0px 5px;
    }
}

.mt-30 {
    margin-top: 30px;
}

.text-align-center {
    text-align: center;
}

.button-form-modal {
    margin: 0px 5px;
}
.dflex {
    display: flex;
}
.search-form > div {
    width: auto; 
}