#pa-110 {

    :deep .dx-master-detail-cell {
        padding: 0px;
    }

    :deep .ant-form-item-label {
        >label {
            width: 100px;
        }
    }

    :deep .row-1 .ant-form-item-label {
        >label {
            width: 50px;
        }
    }

    :deep .custom-form-data>div {
        border: 1px solid #d7d7d7;
        padding: 10px;
    }

    :deep .custom-layout {
        padding: 10px 10px 0 0;
    }

    // .custom-grade-cell {
    //     display: flex;
    //     align-items: center;

    //     .custom-grade-cell-tag {
    //         padding: 3px 10px;
    //         border: 1px solid #304967;
    //         margin-right: 10px;
    //         border-radius: 5px;
    //         min-width: 50px;
    //         text-align: center;
    //     }
    // }
    #pa-110-gridContainer {
        height: calc(100vh - 324px);

        :deep .dx-freespace-row {
            display: none !important;
        }

        :deep td {
            vertical-align: middle;
        }

        :deep .min-w-240 {
            min-width: 240px;
        }
    }
}

.hover-underlined:hover {
    text-decoration: underline;
}

:deep .custom-layout col:first-child {
    width: 40px !important;
}

:deep .dx-datagrid-text-content {
    white-space: pre-wrap;
}

:deep .disabledBlock {
    pointer-events: none;
    opacity: 0.5;
}

.custom-detail {
    text-align: right;
}

:deep .dx-datagrid-table .dx-row .dx-command-expand.dx-datagrid-group-space {
    padding-top: 4px;
}