#pa-110 {
    
    ::v-deep .dx-master-detail-cell {
        padding: 0px;
    }
    ::v-deep .ant-form-item-label {
        >label {
            width: 100px;
        }
    }
    .top-content {
        margin-bottom: 10px;
        padding: 2px 4px;
        
    }
    .input-text {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        >button {
            margin: 0px 10px 0 0px;
        }
    }
    .header-text-3 {
		background-color: #558ED5;
		padding: 5px;
		font-weight: bold;
		font-size: 12px;
		margin-bottom: 10px;
    }


    .ant-form-item {
        margin-bottom: 10px;
    }

    ::v-deep .custom-layout {
        padding: 10px 10px 10px 0;
 
        >div {
            border: 1px solid #d7d7d7;
            padding: 10px;
            min-height: 700px;
        }
    }
    .ml-3 {
        margin-left: 3px;
    }

    .custom-note {
        >span {
            font-size: 11px;
            color: #666666;
            padding-left: 5px;
        }
    }

    .custom-grade-cell {
        display: flex;
        align-items: center;

        .custom-grade-cell-tag {
            padding: 3px 10px;
            border: 1px solid #304967;
            margin-right: 10px;
            border-radius: 5px;
            min-width: 50px;
            text-align: center;
        }
    }
}
.button-open-tab {
    color: white;
    background-color: blue;
    font-size: 10px;
    border: none;
    height: 33px;
    border-radius: 5px;
    padding: 5px 10px;;
}
.deduction-main {
    max-height: 200px;
    overflow: scroll;
    border: 1px solid #ddd;
    padding-left: 5px;
    padding-top: 5px;
}
::v-deep .custom-deduction {
    display: flex;
    align-items: center;
    justify-content: space-between;

    >span {
        margin-right: 10px; 
    }

    >div {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        width: 50%;
    }
}

.hover-underlined:hover {
  text-decoration: underline;
}

.current-underlined {
  text-decoration: underline;
}
