@import "../../../../../assets/styles/settingStyle.scss";
#pa-110 {
    :deep .ant-form-item-label>label {
        width: 130px;
        padding-left: 10px;
        margin-right: 20px;
    }

    .input-text {
        display: flex;
        align-items: center;

        span {
            margin-left: 10px;
        }
    }

    .header-text-2 {
        background-color: #C6D9F1;
        padding: 5px;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 10px;
        display: flex;
        span {
            display: flex;
            align-items: center;
        }
    }

    .header-text-3 {
        background-color: #558ED5;
        padding: 5px;
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .deduction-main {
        padding-left: 5px;
        padding-top: 5px;
    }

    .custom-deduction {
        display: flex;
        align-items: center;
        justify-content: space-between;

        >span {
            margin-right: 10px;
            min-width: 117px;
        }

        >div {
            display: flex;
            align-items: center;
        }
        margin-bottom: $margin-bottom+px;
    }

    .summary {
        padding-left: 10px;

        span {
            font-weight: bold;
        }
        >div {
            margin-bottom: $margin-bottom+px;
        }

        .w-120 {
            width: 120px;
        }
        .w-110 {
            width: 110px;
        }
    }
    .text1, .text2 {
        margin-left: 10px;
        span {
            font-weight: unset;
        }
    }
}
