.form-container {
  :deep .ant-form-item-label {
    label {
      width: 140px;
    }
  }

  .form-group {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #d4d2d2;
    border-radius: 10px;
    padding-left: 20px;

    :deep div.month-custom-1 {
      border: 1px solid #ddd;

      .text-box-1 {
        color: black;
      }
    }
  }

  .check-box-group {
    display: flex;
    align-items: center;
    :deep .dx-checkbox-container {
      .dx-checkbox-text {
        margin-left: 5px;
      }
    }
  }

  .input-text {
    display: flex;
    align-items: center;

    .select-group {
      display: inline-flex;
      align-items: center;
      column-gap: 10px;
    }

    .notice {
      color: #888888;
      font-size: 12px
    }

    :deep .dx-template-wrapper {
      width: 100%;
      padding: 3px !important;
    }
  }

  .jobtype-margin {

    // margin-left: 40px;
    .text-detail {
      margin-left: 33px;
      margin-right: 10px;
    }
  }
  .mr-35 {
    margin-right: 35px;
  }
}
:deep .dx-scrollable-container{
  min-height: 400px;
}