.ac-120 {
    overflow: hidden;
    margin: 10px;

    .top {
        .grid {
            display: flex;
            justify-content: space-between;

            .items {
              border: 1px solid #bfbfbf;
              border-left: none;
              text-align: center;
              padding: 10px;
              overflow: hidden;
              flex-grow: 1;
              cursor: pointer;
              &:first-child {
                border-left: 1px solid #bfbfbf;
              }
              &-active {
                background-color: #8EB4E3;
              }
            }
        }

        .flex {
            margin-top: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .action {
                display: flex;
                align-items: center;
            }
        }
    }

    .main {
        margin-top: 15px;
        :deep .dx-data-row .custom-column {
            padding: 0;
            .main-row {
                height: 40px;
                padding: 10px 4px;
                width: 100%;
                border-bottom: 1px solid #ddd;
                &:hover{
                    background-color: blue;
                }
            }
            
            .last {
                border-bottom: none;
            }
        }


        #dataGridAc120 {
            max-height: 500px;
            margin: -1px;
        }
        .data-grid {
            height: calc(100vh - 795px);
            border: 1px solid #ddd;
            overflow: hidden;
            transition: .5s;
        }
        .slipRegistration {
            display: flex;
            align-items: center;
        }

        .detail {
            margin-top: 15px;
            .button-arrow {
                margin-top: -15px;
                transition: transform .5s ease-in-out;
                img {
                    cursor: pointer;
                    width: 30px;
                }
            }
            .button-arrow.rotate {
                transform: rotate(180deg);
            }

            .detail1 {
                width: calc(100% - 307px);
                border: 1px solid #ddd;
                padding: 15px;
            }
            .hidden-show {
                height: 0;
                overflow: hidden;
                transition: .5s;
            }

            .detail2 {
                width: 307px;
                padding-left: 15px;

                .upload {
                    border: 1px solid #ddd;
                    height: 100%;
                    padding: 15px;
                }
            }
        }
    }
}

.input_info {
    display: flex;
    align-items: center;
}

:deep .col-1 .ant-form-item-label {
    >label {
        width: 100px;
    }
}

:deep .col-2,
:deep .col-3,
:deep .col-4 {
    .ant-form-item-label {
        >label {
            width: 75px;
        }
    }
}

.top-content {
    margin-bottom: 10px;
    padding: 2px 4px;
}

.text-align-center {
    text-align: center;
}

:deep .custom-button .dx-button-content {
    padding: 6px 8px;
}
:deep .action .dx-button-content {
    padding: 5px;
}