.ac-120 {
    overflow-y: hidden !important;
    margin: 10px;
    margin-bottom: 0;
    max-height: calc(100vh - 140px);
    // min-height: calc(100vh - 140px);
    .top {
        margin-bottom: 10px;

        .grid {
            display: flex;
            justify-content: space-between;

            .items {
                border: 1px solid #bfbfbf;
                border-left: none;
                text-align: center;
                padding: 10px;
                overflow: hidden;
                flex-grow: 1;
                cursor: pointer;

                &:first-child {
                    border-left: 1px solid #bfbfbf;
                }

                &-active {
                    background-color: #5c95c5;
                    color: white;
                }
            }
        }

        // .flex {
        //     margin-top: 15px;
        //     display: flex;
        //     align-items: center;
        //     justify-content: space-between;

        //     .action {
        //         display: flex;
        //         align-items: center;
        //     }
        // }
    }
    #content {
        #dataGridAc120 {
            height: calc(100vh - 290px);
            max-width: 100% !important;
            transition: .4s;
            :deep .dx-datagrid-search-panel {
                margin: 0;
            }
        }
    }
    .hiddenTable {
        transition: .4s;
        height: calc(100vh - 640px) !important;
    }

    .data-grid {
        margin-bottom: 10px;

    }

    :deep .dx-freespace-row {
        display: none !important; // cục lúc hiện lúc không
    }

    .slipRegistration {
        // display: flex;
        align-items: center;
    }

    .detail {
        height: max-content;

        .detail-body {
            margin-top: -10px;
            .detail1 {
                width: calc(100% - 307px);

                .fl-r .ant-form-item {
                    float: right;
                }
            }

            .detail2 {
                width: 307px;
                padding-left: 15px;
                overflow-x: hidden;
                height: 360px;
                max-width: 307px;

                .upload {
                    border: 1px solid #ddd;
                    height: 100%;
                }
            }

            @media only screen and (max-width: 1812px) {
                .detail1 {
                    width: calc(100% - 150px);
                }

                .detail2 {
                    width: 150px;
                }
            }
        }
    }
    .detail-header {
        background-color: #337ab7;
        color: #fff;
        .detail1 {
            width: calc(100% - 307px);
        }
        .detail2 {
            width: 307px;
            display: flex;
            justify-content: flex-end;
            padding-right: 12px;
        }
        
        .text-align-center {
            text-align: center;
            align-items: center;
            padding: 5px;
            height: 38px;
            .info-left {
                float: left; 
                font-size: 11px;
            }
            .info-right {
                float: left;
                :deep .ant-form-item {
                    .ant-form-item-label > label {
                        color: #fff;
                    }
                    margin-bottom: 0;
                    color: #fff;
                }
            }
        }
    }
}

.input_info {
    display: flex;
    align-items: center;
}

:deep .col-1 .ant-form-item-label {
    >label {
        width: 100px;
    }
}

:deep .col-2,
:deep .col-3,
:deep .col-4 {
    .ant-form-item-label {
        >label {
            width: 75px;
        }
    }
}

.top-content {
    margin-bottom: 10px;
    padding: 2px 4px;
}

.text-align-center {
    text-align: center;
}

:deep .custom-button .dx-button-content {
    padding: 6px 8px;
}

:deep .action .dx-button-content {
    padding: 5px;
}

.icon-add {
    font-size: 16px;
    font-weight: bold;
}

:deep .redColor input.dp__input {
    color: #ff3030;
}

:deep .greenColor input.dp__input {
    color: #48b148;
}

:deep .dx-datagrid-content.dx-sortable {
    border-bottom: 1px solid #ddd;
}
// .month-hover {
//     background-color: #D1E1F8;
//     color: black;
// }