#pa-520 {
    margin-top: 10px;

    .total-user {
        display: flex;
        align-items: center; 
        
        background-color: #17375E;
        color: white;
        >div {
            font-size: 16px;
            width: 50%;
            text-align: center;
            line-height: 16px;

            .dx-icon-user {
                font-size: 55px;
            }
        }
    }

    .current-user {
        background-color: #D99694;
        color: white;
        display: flex;
        align-items: center;

        >div {
            font-size: 16px;
            width: 50%;
            text-align: center;
            line-height: 16px;

            .dx-icon-user {
                font-size: 55px;
            }
        }
    }

    .leave-user {
        background-color: #BFBFBF;
        color: white;
        display: flex;
        align-items: center;

        >div {
            font-size: 16px;
            width: 50%;
            text-align: center;
            line-height: 16px;

            .dx-icon-user {
                font-size: 55px;
            }
        }
    }



    .ant-form-item {
        margin-bottom: 10px;
    }

    ::v-deep .custom-layout {
        padding: 10px 10px 10px 0;

        >div {
            border: 1px solid #d7d7d7;
            padding: 10px;
            min-height: 500px;
        }
    }

    .custom-note {
        >span {
            font-size: 11px;
            color: #666666;
            padding-left: 5px;
        }
    }

    .custom-grade-cell {
        display: flex;
        align-items: center;

        .custom-grade-cell-tag {
            padding: 3px 10px;
            border: 1px solid #304967;
            margin-right: 10px;
            border-radius: 5px;
            min-width: 50px;
            text-align: center;
        }
    }
}