#announcement-user {

    // .confirm {
    //     color: red;
    // }
    #gridContainer {
        max-height: 730px;

        .search-template {
            :deep .ant-form-item {
                margin-bottom: 0;
            }

        }
    }

    .total-user {
        background-color: #17375E;
        color: white;
        display: flex;
        align-items: center;
        padding: 3px;

        >span {
            padding-left: 5px;
        }

        >img {
            width: 30px;
            padding-left: 5px;
        }
    }

    .text-align-center {
        text-align: center;
    }

    :deep .ant-form-item-label>label {
        width: 180px;
        padding-left: 10px;

    }

    // :deep .red .ant-form-item-label>label {
    //     color: red;
    // }
    .data-table {
        margin-top: 10px;
        height: calc(100vh - 220px);
        border: 1px solid #d7d7d7;
        // border-bottom: none;
    }

    :deep .dx-datagrid-header-panel {
        // border: 1px solid #d7d7d7;
        // border-bottom: none;
        padding: 5px;
    }

    .custom-layout {
        margin-top: 10px;
        padding-left: 10px;

        >div {
            border: 1px solid #d7d7d7;
            padding: 10px;
            // height: 100%;
            height: calc(100vh - 220px);
            // width: 100%;
            // padding: 10px;
            text-align: center;
            overflow-y: auto;
        }
    }

    .custom-note {
        >span {
            font-size: 11px;
            color: #666666;
            padding-left: 5px;
        }
    }

    :deep .active-row-key {
        background-color: #337AB7;
        color: white;
    }

    #active-save {
        display: none;
    }

    .wrapper {
        height: calc(100vh - 220px);
        width: 100%;
        padding: 10px;
        text-align: center;
        overflow-y: auto;

        .wrapper-content {
            height: 100%;
            text-align: start
        }
    }

    .question-container {
        border-bottom: 1px solid #807b7b;
        padding: 10px;

        &:hover {
            background-color: #eeeeee;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }

    }

    .tag {
        color: #FFF;
        border-radius: 5px;
        padding: 5px 30px;
        font-size: 12px;
        font-weight: 500;

    }

    .tag-inquiry {
        background-color: #BB3835;
    }

    .tag-reply {
        background-color: #337614;
    }

    .tag-alarm {
        background-color: #ffc13c;
    }
    .tag-white {
        background-color: #ffffff;
        border: 1px solid #d7d7d7;
        color: #000;
    }

    .font-bold {
        font-weight: 700;
    }

    .time {
        color: #bcbcc2ff;
        text-align: end;
        font-size: 11px;
        margin-right: 10px;
    }

    .classification {
        color: #bcbcc2ff;
        text-align: end;
        font-size: 11px;
    }

}

.mt-30 {
    margin-top: 30px;
}

.text-align-center {
    text-align: center;
}

.button-form-modal {
    margin: 0px 5px;
}

.disabledBlock {
    pointer-events: none;
    opacity: 0.8;
}