#announcement-user {
    #gridContainer {
        height: calc(100vh - 220px);

        .search-template {
            :deep .ant-form-item {
                margin-bottom: 0;
            }
        }
    }

    :deep .ant-form-item-label>label {
        width: 180px;
        padding-left: 10px;

    }

    .data-table {
        margin-top: 10px;
    }

    .custom-layout {
        margin-top: 10px;
        padding-left: 10px;

        >div {
            border: 1px solid #d7d7d7;
            padding: 10px;
            height: calc(100vh - 220px);
            overflow-y: auto;
        }
    }

    .wrapper {
        height: calc(100vh - 245px);
        overflow: auto;
    }

    .blue {
        color: #1a73e8;
    }

    .black {
        color: #333333;
    }

    .question-container {
        // border-bottom: 1px solid #807b7b;
    }

    .question-container-tab1 {
        border-bottom: 1px solid #807b7b;
        padding: 10px 10px 10px 0;

        &:hover {
            background-color: #eeeeee;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }

    }

    .font-bold {
        font-weight: 700;
    }

    .time {
        color: #bcbcc2ff;
        // text-align: end;
        font-size: 12px;
        // margin-right: 10px;
    }

    .classification {
        color: #bcbcc2ff;
        // text-align: end;
        font-size: 12px;
    }

    .form-create-bottom {
        // background-color: #807b7b;
        position: absolute;
        bottom: 10px;
        width: calc(100% - 30px);
    }

    .form-chat {
        height: 100%;
        padding: 5px;
        border: 1px solid #ddd;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        position: relative;
    }
}

.files {
    width: 100%;
    background-color: #fff;

    .images {
        display: flex;
        flex-wrap: wrap;

        .image {
            width: 50%;
            padding: 5px;
            cursor: pointer;

            &:hover {
                opacity: .8;
            }
        }
    }
    .file-texts {
        cursor: pointer;
        border: 1px solid #bcbcc2ff;
        padding: 10px 5px;
    }
}

:deep .dx-datagrid-header-panel {
    border: 1px solid #d7d7d7;
    border-bottom: none;
    padding: 5px;
}
.truncate {
	max-width: 500px;
}
.wrapper-content {
    // height: calc(100vh - 395px);
    // overflow: auto;
}