
.container {
    width: 1200px;
    padding-right: 10px;
    padding-left: 10px;
}

.title-h2 {
    margin-left: 1%;
}

.validate-message {
    margin-left: 10px;
    color: #c3baba;
    line-height: 31px;
}

.btn-upload-image {
    width: 100px;
    margin-left: 150px;
}

.btn-submit-table {
    margin-top: 20px;
    text-align: center;
}

.btn-submit {
    margin-top: 20px;
    margin-left: 280px;
}
 

.ant-form-item {
    margin-bottom: 10px;
}

.pagination-margin {
    margin-top: 10px;
}

.dflex {
    display: flex;
}
.text-align-center {
    text-align: center;
}
.button-form-modal {
    margin: 0px 5px;
}
.mt-20 {
    margin-top: 20px;
}
::v-deep .red {
    label {
        color: red;
    }
}
