#bf-620 {
  .tab-group {
    // .search-group {
    //   background: #f1f3f4;
    //   padding: 8px 5px;
    //   margin-bottom: 16px;
    // }

    .top-table {
      justify-content: space-between;
    }
  }
  :deep .dx-datagrid-search-panel{
    margin-left: 0;
  }

  :deep .ant-tabs.ant-tabs-top {
    min-height: 500px;
  }

  .tab-3 {
    // display: flex;
    // width: 100%;
    // align-items: center;
    :deep .ant-form-item {
      margin-bottom: 0;
    }
  }

  :deep table tr td {
    vertical-align: middle;
  }

  .btn-modal-save {
    background-color: black;
    color: white;
    padding: 3.5px 5px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
  }

  .report-tag-black {
    color: #ffffff;
    background-color: black;
    text-align: center;
    width: 75px;
    border-radius: 5px;
    padding: 4px 10px;
  }

  .report-tag-gray {
    color: #555555;
    background-color: #000000;
    text-align: center;
    width: fit-content;
    border-radius: 5px;
    padding: 3px 10px;
  }

  .deadline-tag {
    padding: 4px 10px;
    text-align: center;
    color: white;
    width: 85px;
    border-radius: 5px;
    padding: 3px 10px;
  }

  .tag-white {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  .tag-black {
    background-color: black;
  }

  .tag-orange {
    background-color: orange;
  }

  :deep .dp__theme_light {
    display: inline-block;
  }

  :deep .custom-sumary {
    white-space: break-spaces;
  }

  .btn-date {
    div.dx-button-content {
      padding: 0px 10px 2px;
    }
  }

  .before-production-tag {
    background-color: #ababab;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 1px 10px;
  }

  :deep .dx-button-has-text .dx-button-content {
    padding: 5px 8px;
  }
}
#tab1-bf620 {
  height: calc(100vh - 330px) !important;
  :deep .dx-freespace-row {
      display: none !important;
  }
}
#tab2-bf620 {
  height: calc(100vh - 330px) !important;
  :deep .dx-freespace-row {
      display: none !important;
  }
}
#tab3-bf620 {
  height: calc(100vh - 300px) !important;
  :deep .dx-freespace-row {
      display: none !important;
  }
}
.fs-17{
  font-size: 17px;
}
.fs-14{
  font-size: 14px;
}
.summary-ctn {
  border: 1px solid #ddd;
  border-top: none;
  display: flex;
  padding: 5px 10px;
  min-height: 35px;
  .sum-item {
    text-align: right;
    flex: 1;
  }
}
.content-grid {
  margin: 10px;
}
.tag-custom-2 {
  background-color: black;
  padding: 4px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.tag-custom-1 {
  background-color: gray;
  padding: 4px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}