#bf-620 {
  .tab-group {
    .search-group {
      background: #f1f3f4;
      padding: 8px 5px;
      margin-bottom: 16px;
    }

    .top-table {
      justify-content: space-between;
    }
  }

  .tab-3 {
    display: flex;
    width: 100%;
    align-items: center;
  }

  :deep table tr td {
    vertical-align: middle;
  }

  .btn-modal-save {
    background-color: black;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
  }

  .report-tag-black {
    color: #ffffff;
    background-color: black;
    text-align: center;
    width: 75px;
    border-radius: 5px;
  }

  .report-tag-gray {
    color: #555555;
    background-color: #000000;
    text-align: center;
    width: fit-content;
    border-radius: 5px;
  }

  .deadline-tag {
    padding: 4px 10px;
    text-align: center;
    color: white;
    width: 85px;
    margin-left: 25px;
    border-radius: 5px;
  }
  
  .tag-white {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  .tag-black {
    background-color: black;
  }

  .tag-orange {
    background-color: rgb(204, 82, 12);
  }

  :deep .dp__theme_light {
    display: inline-block;
  }

  :deep .custom-sumary {
    white-space: break-spaces;
  }

  :deep .dx-button-content {
    padding: 0px 10px 2px;
  }

}