.mt-20 {
    margin-top: 20px;
}
.text-align-right {
    text-align: right;
}
.text-align-center {
    text-align: center;
}
.button-form-modal {
    margin: 0px 5px;
}
::v-deep .red {
    label {
        color: red;
    }
}

::v-deep .ant-form-item {
    margin-bottom: 10px;
}
// ::v-deep .dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row) > td:not(.dx-focused) {
//     background-color: rgb(105, 146, 107)!important;
//     color: white!important;
//     // cursor: pointer; 
// } 
.btn-date {
  height: 25px;

  .dx-button-content {
    padding: 0 10px;
  }
}
