.ac-130 {
  .mr-5 {
    margin-right: 5px;
  }
  padding: 10px;
  &__top {
    &-grid {
      display: flex;
      justify-content: space-between;
      &-items {
        border: 1px solid #bfbfbf;
        border-left: none;
        text-align: center;
        padding: 10px;
        overflow: hidden;
        flex-grow: 1;
        cursor: pointer;
        &:first-child {
          border-left: 1px solid #bfbfbf;
        }
        &-active {
          background-color: #D1E1F8;
        }
      }
    }
    &-status {
      margin-top: 15px;
      display: flex;
      align-items: center;
      &-btnHistory{
        margin-left: 5px;
        :deep .dx-button-content {
          padding: 4px;
        }
      }
    }
  }
  &__main {
    margin-top: 10px;
    &-content {
      height: calc(100vh - 250px);
      &:first-child {
        padding-right: 5px;
      }
      &:last-child {
        padding-left: 5px;
      }
      &-check {   
        height: calc(100vh - 250px);
        border: 1px solid #bfbfbf;
        overflow: hidden;
        &-title {
          background-color: #bdd7ee;
          padding: 3px 5px;
          text-align: center;
          font-size: 16px;
        }
        &-checklist {
          height: calc(100% - 25px);
          overflow-y: auto;
          padding: 5px 5px 13px 5px;
          &-header {
            display: flex;
            align-items: center;
            &-title {
              margin-left: 10px;
              color: #7F7F7F;
              font-size: 16px;
            }
          }
        }
        :deep(.ant-collapse-content > .ant-collapse-content-box) {
          padding: 0;
        }
      }
      &-manager {
        height: 100%;
        border: 1px solid #bfbfbf;
        &-title {
          background-color: #bdd7ee;
          padding: 3px 5px;
          text-align: center;
          position: relative;
          font-size: 16px;
          &-btnReload {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            cursor: pointer;
          }
        }
        &-chat {
          height: calc(100% - 31px);
        }
        :deep(.ant-badge-dot) {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
  :deep .ant-collapse {
    border: none;
  }
  :deep .ant-collapse-item {
    background-color: #D9D9D9;
    border-radius: 5px;
    .ant-collapse-header {
      padding: 6px 40px 6px 6px;
    }
    .ant-collapse-content {
      padding: 6px;
      padding-top: 0;
      background-color: #D9D9D9;
    }
  }
  :deep .ant-collapse-item + .ant-collapse-item {
    margin-top: 10px;
  }
}
