.ac-130 {
  .mr-5 {
    margin-right: 5px;
  }
  padding: 10px;
  &__top {
    &-grid {
      display: flex;
      justify-content: space-between;
      &-items {
        border: 1px solid #bfbfbf;
        border-left: none;
        text-align: center;
        padding: 10px;
        overflow: hidden;
        flex-grow: 1;
        cursor: pointer;
        &:first-child {
          border-left: 1px solid #bfbfbf;
        }
        &-active {
          background-color: #D1E1F8;
        }
      }
    }
    &-status {
      margin-top: 15px;
      display: flex;
      align-items: center;
    }
  }
  &__main {
    margin-top: 30px;
    &-content {
      height: calc(100vh - 271px);
      &:first-child {
        padding-right: 5px;
      }
      &:last-child {
        padding-left: 5px;
      }
      &-check {   
        height: calc(100vh - 271px);
        border: 1px solid #bfbfbf;
        overflow: hidden;
        &-title {
          background-color: #bdd7ee;
          padding: 3px 5px;
        }
        &-checklist {
          height: calc(100% - 25px);
          overflow-y: auto;
          &-header {
            display: flex;
            align-items: center;
            span {
              margin-right: 10px;
              color: #7F7F7F;
            }
          }
        }
        :deep(.ant-collapse-content > .ant-collapse-content-box) {
          padding: 0;
        }
      }
      &-manager {
        height: 100%;
        border: 1px solid #bfbfbf;
        &-title {
          background-color: #bdd7ee;
          padding: 3px 5px;
        }
        &-chat {
          height: calc(100% - 27px);
        }
        :deep(.ant-badge-dot) {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}
