.ac-130 {
  .mr-5 {
    margin-right: 5px;
  }
  padding: 10px;
  &__top {
    &-grid {
      display: flex;
      justify-content: space-between;
      &-items {
        border: 1px solid #bfbfbf;
        border-radius: 10px;
        text-align: center;
        padding: 8px;
        &-text {
          margin-right: 8px;
        }
      }
    }
    &-status {
      margin-top: 15px;
      display: flex;
      align-items: center;
    }
  }
  &__main {
    margin-top: 30px;
    &-content {
      height: calc(100vh - 265px);
      &:first-child {
        padding-right: 5px;
      }
      &:last-child {
        padding-left: 5px;
      }
      &-check {
        height: 100%;
        border: 1px solid #bfbfbf;
        overflow: hidden;
        &-title {
          background-color: #bdd7ee;
          padding: 3px 5px;
        }
        &-checklist {
          height: calc(100% - 25px);
          overflow-y: auto;
          &-header {
            display: flex;
            align-items: center;
            span {
              margin-right: 15px;
            }
          }
        }
      }
      &-manager {
        height: 100%;
        border: 1px solid #bfbfbf;
        &-title {
          background-color: #bdd7ee;
          padding: 3px 5px;
        }
        &-chat {
          height: calc(100% - 26px);
        }
      }
    }
  }
}
