#pa-220 {
    .custom-info {
        display: flex;
        align-items: center;

        img {
            width: 16px;
        }

        span {
            padding-left: 5px;
            font-size: 11px;
        }
    }

    .selectRatio {
        display: flex;
        align-items: center;
    }

    :deep .custom-mail-group {
        .dx-button-content {
            padding: 3px;
        }
    }

    .custom-flex {
        display: flex;
        width: 100%;
        align-items: center;

        .ant-row {
            width: 100%;
        }
    }

    .title-body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 0;
        .title-body-left-1 {
            display: flex;
            align-items: center;
            &-label {
                font-size: 14px;
            }
            >div {
                margin-right: 10px;
            }
            :deep .dx-item-content {
                line-height: 22px;
            }
        }
    }
    .created-date {
        display: flex;
        align-items: center;
        .lable-item {
            font-weight: bold;
            font-size: 14px;
        }
    }


    :deep .ant-form-item-label>label {
        width: 180px;
        padding-left: 10px;
        color: red;
    }

    :deep .custom-layout {
        padding: 10px 10px 10px 0;

        >div {
            border: 1px solid #d7d7d7;
            padding: 10px;
            min-height: 500px;
        }
    }

    .custom-note {
        >span {
            font-size: 11px;
            color: #666666;
            padding-left: 5px;
        }
    }

    .custom-grade-cell {
        display: flex;
        align-items: center;

        .custom-grade-cell-tag {
            padding: 3px 10px;
            border: 1px solid #304967;
            margin-right: 10px;
            border-radius: 5px;
            min-width: 50px;
            text-align: center;
        }
    }
    :deep .dx-radiobutton-icon {
        padding-top: 2px;
    }

    :deep .selectRatio .dx-item:nth-child(1) .dx-item-content {
        background: white;
        padding: 2px 15px;
        border-radius: 5px;
        color: black;
    }

    .status-red, :deep .selectRatio .dx-item:nth-child(2) .dx-item-content {
        background: rgb(194, 56, 56);
        padding: 2px 15px;
        border-radius: 5px;
        color: white;
    }

    .status-blue, :deep .selectRatio .dx-item:nth-child(3) .dx-item-content {
        background: rgb(76, 134, 65);
        padding: 2px 15px;
        border-radius: 5px;
        color: white;
    }
}
