.dflex {
    display: flex;
}

.custom-flex {
    align-items: flex-start;
    align-items: center;
}

.format-settings {
    padding-top: 15px;
    font-size: 16px;
    display: flex;
    align-items: center;

    .format-settings-text {
        padding-left: 18px;
    }
}

.created-date {
    padding-top: 15px;
    float: right;
    display: flex;
    align-items: center;
}

.global-year {
    margin-top: 6px;
}

.mail-230 {
    cursor: pointer;
}

.form-mail-2 {
  display: flex;
  img{
    width: 70px;
  }
}

.status-red {
    background-color: #C73F09;
    color: white;
    padding: 3px 20px;
    border-radius: 5px;
}

.status-blue {
    background-color: #77933C;
    color: white;
    padding: 3px 20px;
    border-radius: 5px;
}

:deep.custom-mail-group {
  .dx-button-content {
      padding: 3px;
  }
}
