.ant-pagination {
  margin-top: 10px;
}

#data-grid-demo {
  min-height: 700px;
}

:deep .dx-toolbar-after {
  display: flex;

  .dx-toolbar-item {
    &:first-child {
      order: 2;
      margin-left: 5px;
    }
  }
}

:deep .dx-button-content {
  height: 28px;
}

:deep .dx-select-checkbox {
  display: inline-block !important;
}

.modal-note {
  max-height: 500px;
  overflow: auto;

  .title-note {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  th {
    display: none;
  }

  .ant-collapse-content-box {
    padding: 0px;
  }
}

.anticon {
  cursor: pointer;
}

.custom-action {
  text-align: center;
}

.ant-row {
  align-items: center;
}

.ant-collapse {
  .ant-collapse-item {
    .ant-collapse-header {
      padding: 7px;
    }
  }
}

.warring-modal {
  font-size: 12px;
  line-height: 0px;
}

.ant-form-item-label {
  text-align: left;
}

.clr {
  label {
    color: red;
  }
}

.clr-text {
  color: red;
}

.clb,
.clb-label label {
  color: black !important;
}


:deep.components-modal-demo-position {
  :deep.test-local {
    background-color: pink !important;
    width: 1000px !important;
    height: 200px !important;
  }

  .imgPreview img {
    width: 1000px !important;
  }

  .ant-form-item-label {
    text-align: left;
  }
}

.dflex {
  display: flex;
}

.custom-flex {
  align-items: center;
}

.warring-bank {
  display: flex;
  align-items: center;
}

.pl-5 {
  padding-left: 5px;
}

.custom-lineHeight {
  line-height: 3px;
}

.dx-checkbox-icon {
  border: 1px solid #d9d9d9
}