#data-grid-demo {
    min-height: 700px;
}

.dx-select-checkbox {
    display: inline-block !important;
}

.search-form .col {
    display: flex;
    align-items: center;
    margin-top: 20px;

}

.item {
    display: flex;
    align-items: center;
}

.search-form .col .lable-item {
    white-space: nowrap;
    margin-right: 10px;
}

.search-form .col .item:not(:first-child) {
    margin-left: 30px;
}

.search {
    margin-top: 20px;
}

.modal-note {
    max-height: 500px;
    overflow: auto;

    .title-note {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    th {
        display: none;
    }
}

.anticon {
    cursor: pointer;
}