#pa-720 {
  margin-top: 10px;

  ::v-deep .ant-form-item-label {
    > label {
      width: 100px;
    }
  }

  .top-content {
    margin-bottom: 10px;
    padding: 2px 4px;
  }

  .input-text {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    > button {
      margin: 0px 10px 0 0px;
    }

    > span {
      align-self: center;
    }
  }

  .header-text-1 {
    background-color: #558ed5;
    font-size: 18px;
    padding: 3px 0 3px 10px;
    color: white;
  }

  .header-text-2 {
    background-color: #c6d9f1;
    font-size: 14px;
    padding: 3px 0 3px 10px;
    color: black;
    line-height: 28px;
  }

  .header-text-3 {
    background-color: #558ed5;
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .ant-form-item {
    margin-bottom: 10px;
  }

  .ml-3 {
    margin-left: 3px;
  }

  .custom-note {
    > span {
      font-size: 11px;
      color: #666666;
      padding-left: 5px;
    }
  }

  .custom-grade-cell {
    display: flex;
    align-items: center;

    .custom-grade-cell-tag {
      padding: 3px 10px;
      border: 1px solid #304967;
      margin-right: 10px;
      border-radius: 5px;
      min-width: 50px;
      text-align: center;
    }
  }

  .hover-underlined:hover {
    text-decoration: underline;
  }
  .custom-sumary {
    text-align: center !important;
  }
  .hover_text {
    &:hover {
      text-decoration: underline;
    }
  }
  ::v-deep .custom-layout {
    padding: 10px 10px 10px 0;

    > div {
      border: 1px solid #d7d7d7;
      padding: 10px;
      max-height: 770px;
    }
  }
  ::v-deep .content-btm col:first-child {
    width: 40px !important;
  }

  ::v-deep .dx-show-invalid-badge {
    margin-left: 0px !important;
    // display: inline-block !important;
  }

  ::v-deep .ant-form-item-label > label {
    width: 117px;
  }

  ::v-deep .dx-master-detail-cell {
    padding: 0px;
  }

  ::v-deep .month-custom-1 {
    background-color: #a6a6a6;
    padding-left: 10px;
    border-radius: 5px;
    margin-right: 10px;
    color: white;

    .dp__input {
      color: white;
      padding: 0px;
      border: none;
      height: 30px;
      background-color: #a6a6a6;
    }

    .dp__icon {
      display: none;
    }
  }

  ::v-deep .month-custom-2 {
    background-color: black;
    padding-left: 10px;
    border-radius: 5px;
    margin-right: 10px;
    color: white;

    .dp__input {
      color: white;
      padding: 0px;
      border: none;
      height: 30px;
      background-color: black;
    }

    .dp__icon {
      display: none;
    }
  }
  ::v-deep .input-group-4 {
    .ant-form-item-control-input-content {
      display: flex;
      align-items: center;
    }
  }
  ::v-deep .dx-datagrid-text-content {
    white-space: pre-wrap;
  }
  ::v-deep
    .dx-datagrid-rowsview
    .dx-row-focused.dx-data-row
    > td:not(.dx-focused) {
    color: black;
  }
  ::v-deep.ant-btn.ant-dropdown-trigger {
    height: auto;
  }
  ::v-deep .custom-button-checkbox {
    border: 1px solid blue;
    height: 91.5%;

    .dx-button-content {
      padding: 5px 5px;
      display: inline-flex;
      align-items: center;
    }

    span {
      color: blue;
    }
  }
  .button-open-tab {
    color: #fff;
    background-color: #00f;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    margin-left: 3px;
    cursor: pointer;
    height: 100%;
    width: 100px;
  }

  .custom-select-tab {
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    height: 91.5%;
  }
  .validate {
    color: red;
    font-size: 12px;
  }
  .red {
    :deep label{
        color: red;
    }
  }
}
