.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
}

::v-deep img-preview {
    position: relative;
    width: 100%;
}

::v-deep img {
    position: relative;
    width: 100%;
    height: 345px;
    margin-top: 20px;

}

.imgPreview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contract-container {
    max-width: 960px;
    margin: 50px auto;
    text-align: left;
    padding-bottom: 50px;
}

.contract-container h2 {
    font-weight: bold;
}

.ant-steps-navigation {
    box-shadow: 0px -1px 0 0 #e8e8e8 inset;
}

.form-group {
    margin-top: 30px;
}

.form-group label {
    margin-bottom: 5px;
}

.radio-group {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: -15px;
}

::v-deep textarea {
    height: 100px;
}

.group-button {
    display: flex;
    justify-content: center;
}

.group-button {
    margin-top: 20px;
}

.group-button ::v-deep button {
    margin: 0 10px;
}

.info-box {
    border: 1px solid #ccc;
    padding: 30px;
}

.form-item {
    display: flex;
    margin-top: 15px;
}

.form-item label {
    min-width: 165px;
}

.red {
    color: red;
}

.width-auto {
    width: auto;
}

.form-item ::v-deep button {
    margin-left: 5px;
}

/* .form-item ::v-deep input,
.form-item .ant-input-affix-wrapper ::v-deep {
    max-width: calc(100% - 165px);
} */
/* ::v-deep input.dp__input.dp__input_icon_pad {
    width: 150px;
    max-width: 200px !important;
} */
::v-deep #nest-messages_user_email {
    min-width: 350px !important;
}

.form-item p {
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 0;
}

.group-label {
    display: flex;
    align-items: center;
}

.group-label p {
    margin-right: 15px;
    margin-bottom: 0;
}

.checkbox-item {
    margin-top: 15px;
    margin-bottom: 15px;
}

.editable-cell {
    position: relative;
}

.editable-cell .editable-cell-input-wrapper,
.editable-cell .editable-cell-text-wrapper {
    padding-right: 24px;
}

.editable-cell .editable-cell-text-wrapper {
    padding: 5px 24px 5px 5px;
}

.editable-cell .editable-cell-icon,
.editable-cell .editable-cell-icon-check {
    position: absolute;
    right: 0;
    width: 20px;
    cursor: pointer;
}

.date-picker label {
    width: 165px;
    display: inline-block;
}

.editable-cell .editable-cell-icon {
    margin-top: 4px;
    display: none;
}

::v-deep .ant-radio-group {
    display: flex;
}

.editable-cell .editable-cell-icon-check {
    line-height: 28px;
}

.editable-cell .editable-cell-icon:hover,
.editable-cell .editable-cell-icon-check:hover {
    color: #108ee9;
}

.editable-cell .editable-add-btn {
    margin-bottom: 8px;
}

.editable-cell:hover .editable-cell-icon {
    display: inline-block;
}

::v-deep .ant-pagination {
    display: none;
}

.group-title {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    position: relative;
    z-index: 20;
    width: 200px;
}

#gridContainer {
    margin-top: -40px;
}

.mt-3 {
    margin-top: 30px;
}

::v-deep .ant-checkbox-wrapper {
    display: flex;
}

::v-deep .ant-select {
    width: 180px;
}

::v-deep .dx-toolbar-text-auto-hide .dx-button .dx-button-text {
    display: inline-block;
}

.list-checkbox {
    margin-top: 10px;
}

.dx-texteditor.dx-editor-outlined {
    border-radius: 2px !important;
}



.ant-form-item {
    margin-bottom: 0px !important;
}

::v-deep .ant-form-item-explain-error {
    min-width: 300px !important;
}

::v-deep .width-400 {
    width: 400px;
}

::v-deep .width-150 {
    width: 150px;
}

::v-deep .width-350 {
    width: 350px;
}

.custom-checkbox-location {
    position: absolute;
    margin-top: -200px;
    display: flex;
}

::v-deep .confirm-modal {
    .ant-modal-footer {
        display: none !important;
    }
}