#bf-610 {

    :deep(.custom-checkbox1 .dx-checkbox-text),
    :deep(.custom-checkbox2 .dx-checkbox-text) {
        margin-left: 5px;
        padding: 1px 20px;
        color: white;
        border-radius: 5px;
    }

    :deep(.custom-checkbox1 .dx-checkbox-text) {
        background-color: #376092;
    }

    :deep .custom-checkbox2 .dx-checkbox-text {
        background-color: #C00000;
    }


    :deep .search-form {
        .clr label {
            color: red;
        }

        .label-select label {
            width: 90px;
        }

        .ant-form-item-label {
            display: flex;
            align-items: center;
        }
    }

    :deep .page-content {
        .print-group .dx-button-content {
            padding: 2px 5px;
        }

        .tag-custom-4 {
            background-color: white;
            padding: 3px 24px;
            border-radius: 5px;
            color: black;
            border: 1px solid black;
            cursor: pointer;
        }
        .tag-custom-3 {
            background-color: orange;
            padding: 4px 20px;
            border-radius: 5px;
            color: white;
            cursor: pointer;
        }

        .tag-custom-2 {
            background-color: black;
            padding: 4px 20px;
            border-radius: 5px;
            color: white;
            cursor: pointer;
        }

        .tag-custom-1 {
            background-color: gray;
            padding: 4px 20px;
            border-radius: 5px;
            color: white;
            cursor: pointer;
        }
    }
    :deep .dx-checkbox-has-text.mr-5 {
        margin-right: 10px;
    }
    :deep .buttonModal {
        height: 27px !important;
    }
    .showO {
        font-size: 20px;
    }
    .closing-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

}
