.ac-210 {
    #dataGridAC210 {
        height: calc(100vh - 150px);
        .button-upload {
            :deep .dx-button-content {
                padding: 6px;
            }
        }
        .icon_share {
            display: inline-block;
            width: 16px;
            margin-right: 5px;
            vertical-align: -0.125em;
        }
    }
}