#data-grid-demo {
    min-height: 700px;
}

.dx-select-checkbox {
    display: inline-block !important;
}

.modal-note {
    max-height: 500px;
    overflow-y: auto;

    .title-note {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    th {
        display: none;
    }
}

.anticon {
    cursor: pointer;
}

.custom-action {
    text-align: center;
}

.cell-center {
    text-align: center !important
}

#data-grid-demo {
    min-height: 700px;
}

.dx-select-checkbox {
    display: inline-block !important;
}

.cell-button-add {
    padding-left: 100px !important;
}

.cell-center {
    text-align: center !important
}


.dx-select-checkbox {
    display: inline-block !important;
}

#data-grid-demo {
    min-height: 700px;
}

.custom-flex {
    display: flex;
    align-items: center;
}
