::v-deep .red {
    label {
        color: red;
    }
}

::v-deep .element.style {
    max-width: none;
    width: 200px;
    height: auto;
    left: 0px;
    top: 0px;
    transform: none;
    z-index: 1504;
    transition: all 0s ease 0s;
}

::v-deep .ant-modal-footer {
    padding-top: 0;
    border: node;
}

::v-deep .ant-form-item-control {
    display: flex;
    flex-direction: row;
}

::v-deep .ant-modal-content {
    height: 900px
}

::v-deep .ant-form-item-label>label {
    width: 110px;
}

.select-search ::v-deep .ant-select-arrow .anticon>svg {
    width: 16px;
    height: 16px;
}

::v-deep .ant-form-item-explain-error {
    width: 400px;
    margin-left: 5px;
    padding-top: 5px;
}

::v-deep .dflex {
    display: flex;
}

 
.title_modal {
    font-weight: 700;
    color: gray;
}

.modal_email ::v-deep .anticon svg {
    width: 50px;
    height: 50px;
}

.modal {
    width: 300px;
    padding: 30px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 20px;
    text-align: center;
}

::v-deep .modal_email {
    display: flex;
}

::v-deep .btn_submitemail {
    margin-top: 10px;
}

.confirm-button {
    margin-left: 100px;
}

.confirm-modal p {
    white-space: normal;
    font-size: 13px;
    line-height: 16px;
}

 
.detail-address {
    margin-left: 7px;
}

.result-address {
    margin-left: 110px;
}

.ant-form-item {
    margin-bottom: 10px;
}

.warring-modal {
    font-size: 13px;
    line-height: 5px;
}

.table-scroll {
    height: 300px;
    overflow-y: auto;
    padding: 5px;
}

.ant-form-item-label {
    text-align: left;
}

.ant-popover-arrow {
    display: none;
}