#data-grid-demo {
    min-height: 700px;
}

.dx-select-checkbox {
    display: inline-block !important;
}

.modal-note {
    max-height: 500px;
    overflow-y: auto;

    .title-note {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    th {
        display: none;
    }
}

.anticon {
    cursor: pointer;
}

.custom-action {
    text-align: center;
}

.search-form {
    margin-bottom: 10px;
    background: #f1f3f4;
    padding: 10px 24px;

    >div {
        width: 100%;
        justify-content: space-between;
    }

    col {
        margin-top: 20px;
    }

    .lable-item {
        white-space: nowrap;
        margin-right: 10px;
        width: auto !important;
    }

    .col {
        align-items: center;

        .lable-item {
            width: 110px;
            display: inline-block;
        }

        .item:nth-child(2) {
            margin-left: 30px;
        }

        .col .search-form .col {
            display: flex;
            align-items: center;
        }
    }
}

.cell-center {
    text-align: center !important
}

.dx-button-has-text .dx-button-content {
    padding: 0px 15px !important;
}


#data-grid-demo {
    min-height: 700px;
}

.dx-select-checkbox {
    display: inline-block !important;
}


.page-content {
    padding: 10px 10px;
}

.cell-button-add {
    padding-left: 100px !important;
}

.cell-center {
    text-align: center !important
}

.dx-button-has-text .dx-button-content {
    padding: 0px 15px !important;
}

.search-form {
    background: #f1f3f4;
    padding: 10px 24px;
}

.dx-select-checkbox {
    display: inline-block !important;
}

#data-grid-demo {
    min-height: 700px;
}

.search-form .col {
    display: flex;
    align-items: center;
}

.search-form .col {
    margin-top: 20px;
}

.search-form .col .lable-item {
    width: 110px;
    display: inline-block;
}

.search-form .col .item:nth-child(2) {
    margin-left: 30px;
}

.custom-flex {
    display: flex;
    align-items: center;
}