#pa-620 {
    margin-top: 10px;

    .total-user {
        background-color: #17375E;
        color: white;
        display: flex;
        align-items: center;

        >div {
            font-size: 16px;
            width: 50%;
            text-align: center;
            line-height: 16px;

            .dx-icon-user {
                font-size: 55px;
            }
        }
    }

    .custom-note {
        >span {
            font-size: 11px;
            color: #666666;
            padding-left: 5px;
        }
    }

    :deep .active-row-key {
        background-color: #337AB7;
        color: white;
    }

    // :deep .table-detail .dx-datagrid-headers {
    //     display: none;
    // }
    :deep .dx-master-detail-cell {
        padding: 0px;
    }

    .text-box-1 {
        padding: 2px 10px;
        border-radius: 5px;
        color: white;
        background-color: gray;
    }

    .text-box-2 {
        padding: 2px 10px;
        border-radius: 5px;
        color: white;
        background-color: black;
    }

    .table-detail-right {
        >div {
            margin-left: 5px;
        }
    }

    .hover-underlined:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .current-underlined {
        text-decoration: underline;
    }

    :deep .form-action {
        label {
            width: 120px;
        }
    }

    .header-text-1 {
        background-color: #558ED5;
        font-size: 18px;
        padding: 3px 0 3px 10px;
        color: white;
    }

    .header-text-2 {
        background-color: #C6D9F1;
        font-size: 14px;
        padding: 3px 0 3px 10px;
        color: black;
        line-height: 28px;
    }

    :deep .month-custom-1 {
        background-color: #A6A6A6;
        padding-left: 10px;
        border-radius: 5px;
        margin-right: 10px;
        color: white;
        width: fit-content;
        .dp__input {
            color: white;
            padding: 0px;
            border: none;
            background-color: #A6A6A6;
        }

        .dp__icon {
            display: none;
        }
    }

    :deep .month-custom-2 {
        background-color: black;
        padding-left: 10px;
        border-radius: 5px;
        margin-right: 10px;
        color: white;

        .dp__input {
            color: white;
            padding: 0px;
            border: none;
            background-color: black;
        }

        .dp__icon {
            display: none;
        }
    }

    .open-tab {
        color: white;
        background-color: blue;
        font-size: 14px;
        border: none;
        border-radius: 5px;
        height: 35px;
        padding: 0 5px;
    }
    .button-open-tab {
        height: 100%;
        // padding-bottom: 7px;
        width: 100px;
    }
    
    .custom-select-tab {
        color: white;
        background-color: blue;
        font-size: 10px;
        border: none;
        border-radius: 5px;
        // padding: 5px 10px;
    }
    
    :deep .dx-datagrid-text-content {
        white-space: pre-wrap;
    }
    :deep .dx-button-content {
      padding: 5px;
      display: inline-flex;
      align-items: center;
    }
    :deep .custom-button-checkbox {
        border: 1px solid blue;
        span {
            color: blue;
        }
    }
    
    .custom-select-tab {
        color: white;
        background-color: blue;
        border: none;
        border-radius: 5px;
        display: inline-flex;
        align-items: center;
        // height: 91.5%;
    }
    
    .button-open-tab {
        color: #fff;
        background-color: #00f;
        font-size: 12px;
        border: none;
        border-radius: 5px;
        margin-left: 3px;
        cursor: pointer;
        height: 100%;
        width: 100px;
    }
    
    .custom-button-delete {
        cursor: pointer;
        // background-color: red;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid gray;
    }
    
    .title-action {
        border: 1px solid #d7d7d7;
        padding: 10px;
        width: 100%;
        justify-content: space-between;
    }
    
    :deep .custom-layout {
        padding: 10px 10px 10px 0;
    
        >div {
            border: 1px solid #d7d7d7;
            padding: 10px;
            height: 100%;
        }
    }
    
    :deep .dx-scrollable-scrollbars-alwaysvisible.dx-scrollable-both>.dx-scrollable-wrapper>.dx-scrollable-container>.dx-scrollable-content {
        padding-bottom: 0px !important;
    }
    :deep table tr td {
      vertical-align: middle;
    }
    
    :deep .custom-layout {
      .custom-grade-cell{
        padding: 0;
        margin: 0;
        .custom-grade-cell-tag {
          padding: 1px 10px;
        }
      }
      div.dx-button-content {
        padding: 0px 10px 2px;
      }
    }
    :deep div.dx-button-content {
      .dx-dropdowneditor-icon {
        width: 24px;
      }
    
      .dx-dropdowneditor-icon::before {
        margin-left: -4px;
      }
    }
    :deep .btn-date {
      div.dx-button-content {
        padding: 0px 10px 0px;
      }
    }
    :deep .dx-datagrid-rowsview .dx-row-focused.dx-data-row>td:not(.dx-focused) {
      color: black;
    }
}
