#pa-120 {
    ::v-deep .label-custom-width {
        label {
            width: auto!important;
        }
    }

    .input-text {
        display: flex;
        align-items: center;

        >img {
            margin: 0px 3px 0 10px;
        }

        >span {
            font-size: 12px;
        }
    }

    ::v-deep .label-red {
        label {
            color: red;
        }
    }

    .custom-checkbox-group {
        width: 50px;
        text-align: center;
        border-radius: 5px;
        color: white;
    }

}