#pa-120 {
  margin-top: 10px;
  padding-right: 1px;

  #pa-120-gridContainer {
    max-height: 695px;
  }

  .total-user {
    background-color: #17375e;
    color: white;
    display: flex;
    align-items: center;

    >div {
      font-size: 16px;
      width: 50%;
      text-align: center;
      line-height: 16px;

      .dx-icon-user {
        font-size: 55px;
      }
    }
  }

  :deep .custom-layout {

    >div {
      border: 1px solid #d7d7d7;
      padding: 10px;
      height: 100%;
    }
  }

  .current-user {
    background-color: #d99694;
    color: white;
    display: flex;
    align-items: center;

    >div {
      font-size: 16px;
      width: 50%;
      text-align: center;
      line-height: 16px;

      .dx-icon-user {
        font-size: 55px;
      }
    }
  }

  .leave-user {
    background-color: #bfbfbf;
    color: white;
    display: flex;
    align-items: center;

    >div {
      font-size: 16px;
      width: 50%;
      text-align: center;
      line-height: 16px;

      .dx-icon-user {
        font-size: 55px;
      }
    }
  }

  .custom-note {
    >span {
      font-size: 11px;
      color: #666666;
      padding-left: 5px;
    }
  }

  .custom-grade-cell {
    display: flex;
    align-items: center;

    .custom-grade-cell-tag {
      padding: 3px 10px;
      border: 1px solid #304967;
      margin-right: 10px;
      border-radius: 5px;
      min-width: 50px;
      text-align: center;
    }
  }

  :deep .active-row-key {
    background-color: #337ab7;
    color: white;
  }

  #pa-120-gridContainer {
    :deep td {
      vertical-align: middle;
    }
  }

  table tr td {
    vertical-align: middle;
  }

  :deep .tag-foreigner {
    background-color: orange;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    width: min-content;
  }

  :deep .bg_orange {
    background-color: #da9c29 !important;
  }

  :deep .btn-default {
    width: 90px !important;
  }

  :deep .ant-tabs {
    overflow: initial;
  }

  :deep .custom-tooltip {
    display: inline;
  }
}
#tab2-pa120 {
  ::v-deep .ant-form-item-label>label {
    width: 130px;
    padding-left: 10px;
  }

  .input-text {
    display: flex;
    align-items: center;

    span {
      margin-left: 10px;
    }
  }

  .header-text-1 {
    background-color: #558ed5;
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .header-text-2 {
    background-color: #c6d9f1;
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-text-3 {
    background-color: #558ed5;
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;

    span {
      display: flex;
      align-items: center;
      float: right;
      font-size: 11px;
      color: black;

      p {
        margin: 5px 0px 3px 10px;
      }
    }
  }

  .ins-dedu {
    display: flex;

    .check-box-tab1 {
      display: inline;
      margin-left: 10px;
    }
  }

  .durunuri-insurance {
    ::v-deep .ant-form-item-label>label {
      width: 200px;
      padding-left: 10px;
    }


  }

  .switch-insurance {
    width: 100px;
    float: right;
  }

  :deep .col-2 {
    flex: 1 1 30%;

    .dx-numberbox {
      width: 105px !important;
    }

    .deducation-name {
      flex: 1;
    }
  }

  :deep .col-3 {
    flex: 1 1 35%;
    .dx-numberbox {
      width: 125px !important;
    }

    .deducation-name {
      flex: 1;
    }
  }
}

.pension {
  ::v-deep .dx-radiobutton {
    margin: 0px 0px 0px 76px;
  }
}

.income-tax-app-rate {
  ::v-deep .dx-radiobutton {
    margin-right: 12%;
  }
}

.deduction-main {
  border: 1px solid #ddd;
  padding-left: 5px;
  padding-top: 5px;
  min-height: 143px;
}

.custom-deduction {
  display: flex;
  max-width: 98%;

  >span {
    margin-right: 10px;
    flex: 1;
  }

  >div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
}

.salary-item {
  .sal-item {
    display: flex;
    align-items: center;

    p {
      margin: 0px;
    }
  }

  ::v-deep .ant-form-item-label>label {
    width: 100px;
    padding-left: 10px;
  }
}

.summary {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4px;
  justify-content: space-between;

  :deep .ant-col {
    padding: 0 !important;
  }

  div {
    margin-bottom: 5px;
  }

  .text5 {
    span {
      display: flex;

      p {
        margin-left: 3px;
        font-size: 12px;
      }
    }
  }
}

.text-note {
  font-size: 11px;
  display: inline;
  // margin-left: 5px;
  // margin-bottom: 0px;
}

.header-text-4 {
  background-color: #c6d9f1;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 10px;

  .switch-bg {
    background-color: white;
  }
}