#pa-120 {
  margin-top: 10px;
  padding-right: 1px;
  #pa-120-gridContainer {
    max-height: 695px;
  }
  .total-user {
    background-color: #17375e;
    color: white;
    display: flex;
    align-items: center;

    > div {
      font-size: 16px;
      width: 50%;
      text-align: center;
      line-height: 16px;

      .dx-icon-user {
        font-size: 55px;
      }
    }
  }
  :deep .custom-layout {

    > div {
      border: 1px solid #d7d7d7;
      padding: 10px;
      height: 100%;
    }
  }
  .current-user {
    background-color: #d99694;
    color: white;
    display: flex;
    align-items: center;

    > div {
      font-size: 16px;
      width: 50%;
      text-align: center;
      line-height: 16px;

      .dx-icon-user {
        font-size: 55px;
      }
    }
  }

  .leave-user {
    background-color: #bfbfbf;
    color: white;
    display: flex;
    align-items: center;

    > div {
      font-size: 16px;
      width: 50%;
      text-align: center;
      line-height: 16px;

      .dx-icon-user {
        font-size: 55px;
      }
    }
  }

  .custom-note {
    > span {
      font-size: 11px;
      color: #666666;
      padding-left: 5px;
    }
  }

  .custom-grade-cell {
    display: flex;
    align-items: center;

    .custom-grade-cell-tag {
      padding: 3px 10px;
      border: 1px solid #304967;
      margin-right: 10px;
      border-radius: 5px;
      min-width: 50px;
      text-align: center;
    }
  }
  :deep .active-row-key {
    background-color: #337ab7;
    color: white;
  }

  #pa-120-gridContainer {
    :deep td {
      vertical-align: middle;
    }
  }
  table tr td {
    vertical-align: middle;
  }
  :deep .tag-foreigner {
    background-color: orange;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    width: min-content;
  }
  :deep .bg_orange{
    background-color: #da9c29 !important;
  }
  :deep .btn-default {
    width: 90px !important;
  }
  :deep .ant-tabs {
    overflow: initial;
  }
  :deep .custom-tooltip{
    display: inline;
  }
}
