#pa-430 {
    #gridContainerPA430 {
        height: calc(100vh - 255px);
    }
    :deep .dx-freespace-row {
        display: none !important;
    }
    // .custom-flex {
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between !important;
    // }

    .content-flex {
        margin: 10px;
        display: flex;
        justify-content: space-between;
    }

    .selectRatio {
        display: flex;
        align-items: flex-start;
    }


    .format-settings {
        display: flex;

        .format-settings-text {
            margin: 0px 10px;

            span {
                margin: 0px 5px;
            }
        }
    }

    .created-date {
        display: flex;
        align-items: center;
        justify-content: end;

    }

    .modal-email-pa430 {
        padding: 30px;
    }

    .input-email {
        border-radius: 5px;
        margin: 3px;
    }

    .content-text-detail {
        padding-left: 15px;
    }

    :deep .selectRatio .dx-item:nth-child(1) .dx-item-content {
        background: white;
        padding: 2px 15px;
        border-radius: 5px;
        color: black;
    }

    :deep .selectRatio .dx-item:nth-child(2) .dx-item-content {
        background: rgb(194, 56, 56);
        padding: 2px 15px;
        border-radius: 5px;
        color: white;
    }

    :deep .selectRatio .dx-item:nth-child(3) .dx-item-content {
        background: #77933C;
        padding: 2px 15px;
        border-radius: 5px;
        color: white;
    }

    :deep .selectRatio .dx-item-content {
        background: #77933C;
        padding: 2px 15px;
        border-radius: 5px;
        color: white;
    }

    .ant-switch-checked {
        background-color: black;
    }

    .income-earners {
        display: flex;

        .label-belonging {
            align-items: center;
            background: #A6A6A6;
            padding: 2px 20px;
            border-radius: 20px;
            color: white;
        }
    }

    .dflex {
        display: flex;
    }

    .custom-flex {
        align-items: flex-start;
        align-items: center;
    }

    :deep .cell-center {
        text-align: center !important
    }

    .bt-email-group :deep(.dx-button-content){
      padding: 1px;
    }
    .bt-print-group :deep(.dx-button-content){
      padding: 1px;
    }

    :deep .dx-datagrid-text-content {
        white-space: pre-wrap;
    }
    :deep .dx-radiogroup-horizontal {
        padding-top: 5px;
    }
    :deep .dx-datagrid-text-content span {
        font-size: 15px;
        font-weight: bold;
    }
}
