#pa-430{
    .custom-flex {
        display: flex;
        align-items: center;
      }
      .content-flex{
        margin: 10px;
        display: flex;
        justify-content: space-between;
      }
      .selectRatio{
        display: flex;
        align-items: flex-start;
      }
  

      
}
