#announcement-user {
    #gridContainer {
        height: calc(100vh - 155px);
    }

    :deep .ant-form-item-label>label {
        width: 180px;
        padding-left: 10px;
    }

    .data-table {
        margin-top: 10px;
    }

    :deep .dx-datagrid-header-panel {
        border: 1px solid #d7d7d7;
        border-bottom: none;
        padding: 5px;
    }

    .custom-layout {
        margin-top: 10px;
        padding-left: 10px;

        >div {
            border: 1px solid #d7d7d7;
            padding: 10px;
            height: 100%;
        }
    }

}

.blue {
    color: #1a73e8;
}

.black {
    color: #333333;
}
.font-bold {
    font-weight: 700;
}

.time {
    color: #bcbcc2ff;
    font-size: 12px;
}