.table-sevice {
  max-height: 300px;
}

.ant-form-item {
  margin-bottom: 10px;
}

.warring-modal {
  font-size: 13px;
  line-height: 5px;
}

.ant-form-item-label {
  text-align: left;
}

.title-modal {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.ant-modal-body {
  padding: 10px;
}

.mr5 {
  margin-right: 5px;
}

.custom-action {
  text-align: center;
}

#data-grid-demo {
  min-height: 700px;
}

.dx-select-checkbox {
  display: inline-block !important;
}

.modal-note {
  max-height: 500px;
  overflow: auto;

  .title-note {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  th {
    display: none;
  }

  .ant-collapse-content-box {
    padding: 0px;
  }
}

.anticon {
  cursor: pointer;
}

.custom-action {
  text-align: center;
}

.ant-row {
  align-items: center;
}

.ant-form-item {
  margin-bottom: 4px;
}

.ant-collapse {
  .ant-collapse-item {
    .ant-collapse-header {
      padding: 7px;
    }
  }
}

.warring-modal {
  font-size: 12px;
  line-height: 0px;
}

.ant-form-item-label {
  text-align: left;
}

::v-deep.clr {
  label {
    color: red;
  }
}

.clr-text {
  color: red;
}

.clb,
.clb-label label {
  color: black !important;
}

::v-deep.components-modal-demo-position {
  ::v-deep.test-local {
    background-color: pink !important;
    width: 1000px !important;
    height: 200px !important;
  }

  .imgPreview img {
    width: 1000px !important;
  }

  .ant-form-item-label {
    text-align: left;
  }
}

.dflex {
  display: flex;
}

.custom-flex {
  align-items: flex-start;
}

.warring-bank {
  display: flex;
  align-items: center;
}

.pl-5 {
  padding-left: 5px;
}

.custom-lineHeight {
  line-height: 3px;
}

::v-deep .dx-checkbox-checked .dx-checkbox-icon::before {
  font-size: 13px;
  top: 6px;
}

::v-deep .dx-checkbox-icon {
  width: 16px;
  height: 16px;
}


::v-deep .ant-form-item-label {
  width: 150px;
}

.footer {
  width: 100%;
  padding: 10px 0 0 10px;
  display: flex;
  justify-content: center;
}