#ac-510 {
    margin: 10px;

    .top {
        .grid {
            display: flex;
            justify-content: space-between;

            .items {
                border: 1px solid #bfbfbf;
                border-left: none;
                text-align: center;
                padding: 10px;
                overflow: hidden;
                flex-grow: 1;
                cursor: pointer;

                &:first-child {
                    border-left: 1px solid #bfbfbf;
                }

                &-active {
                    background-color: #D1E1F8;
                }
            }
        }
        .flex {
            margin-top: 15px;
        }
    }
    .dflex {
        display: flex;
    }

}