.dflex {
    display: flex;
}

.custom-flex {
    align-items: flex-start;
    align-items: center;
}
.format-settings{
    font-size: 14px;
    display: flex;
    align-items: center;
    .format-settings-text{
        padding-left: 18px;
    }
}
.tax-select{
    // padding-top: 15px;
}

.created-date{
    float: right;
    display: flex;
    align-items: center;
}

.global-year{
    margin-top: 6px;
}
::v-deep .custom-mail-group {
    .dx-button-content {
        padding: 3px;
    }
}

.custom-action {
    text-align: center;
}
.lable-item {
    font-size: 16px;
    font-weight: 600;
  }
  .page-content {
    .header-group {
      align-items: top;
      margin-top: 5px;
    }
    .lable-item {
      font-size: 14px;
    }
    ::v-deep .ant-switch-checked {
      background-color: black ;
    }
  }