
//  fix color gridview table
.dx-datagrid-headers .dx-header-row {  
  background-color: #F2F5F7;  
}  

.dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row) > td:not(.dx-focused) {  
  background-color: #D1E1F8!important;  
  color: black!important;  
  cursor: pointer;  
} 

.dx-button-has-text .dx-button-content {
  padding: 0px 15px;
}

.ant-form-item {
  margin-bottom: $margin-bottom+px;
}

.ant-form-item-control-input {
  min-height: $min-height+px;
}
.ant-tooltip-inner {
  color: white !important;
}

.ant-form-item-label > label{
  height: $common-height+px;
}

.dx-scrollable-scrollbars-alwaysvisible.dx-scrollable-both>.dx-scrollable-wrapper>.dx-scrollable-container>.dx-scrollable-content {
  padding-bottom: 0px !important;
}

.dx-texteditor-input {
  margin: 0;
  padding: 5px;
  min-height: $min-height+px;
}

.dx-datagrid-header-panel .dx-toolbar {
  margin-bottom: 2px;
}

.dx-tag-content{
  padding: 1px 25px 0px 6px;
}

.dp__input{
  padding: 2px 0px 1px 36px !important;
}
.dp__input_icon_pad{
  padding: 2px 0px 1px 36px;
  border-radius: 3px;
}
.dx-datagrid .dx-row > td{
  padding: 4px 7px;
}

.dx-button-has-icon .dx-button-content{
  padding: 8px;
}

.cell-button-add .dx-button-content,.cell-button-export .dx-button .dx-button-content{
  padding: 5px;
}
input.dp__input {
  font-size: 14px;
}

.dx-datagrid-content .dx-datagrid-table .dx-row > td{
  vertical-align: middle;
}
.ant-form-item-label:hover {
  pointer-events: none;
  cursor: default;
}


