// grid scss
@import "./settingStyle.scss";
@import "./customStyle.scss";
div,
span,
input,
label,
table {
  font-size: $fontSize+px;
}

table tr td {
  vertical-align: middle;
}

.page-content {
  padding: 5px 10px 10px;
}

.search-form {
  background: #f1f3f4;
  padding: 4px 10px 4px;

  >div {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-right: 15px;
  }

  label {
    margin-right: 10px;
  }

  .lable-item {
    white-space: nowrap;
    margin-right: 10px;
    width: auto !important;
  }

  .col {
    align-items: center;
    display: flex;
    align-items: center;
    margin-top: 20px;

    .lable-item {
      width: 110px;
      display: inline-block;
    }

    .item:nth-child(2) {
      margin-left: 30px;
    }
  }
}
.dx-datagrid-search-panel {
  margin: 0;
}

.dx-datagrid-search-panel {
  margin: 0;
}
.search-toolbar-custom {
  order: 0 !important;
  overflow-x: auto;
  // overflow-x: scroll;
  // overflow-y: hidden;
  // padding-bottom: 16px; /* Adjust this value based on your scrollbar width */
  box-sizing: border-box;
  // width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  scrollbar-color: rebeccapurple green;
  .search-form-custom {
    // background: #f1f3f4;
    // margin-bottom: 10px;
      width: 100%;
      height: 100%;
      display: flex;
      // justify-content: flex-end;
      align-items: center;

      // white-space: nowrap;
      > div {
        // width: max-content;
        white-space: nowrap;
        margin-right: 15px;
      }

  }
  ::-webkit-scrollbar {
    height: 10px;
  }
  &::-webkit-scrollbar {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.dx-toolbar .dx-toolbar-items-container {
  // height: 47px;
  margin-top: 5px;
  .dx-toolbar-center {
    padding-left: 0px;
    width: calc(100% - 250px);
    table-layout: fixed;
  }
}
.dx-toolbar-center {
  margin: 0 !important;
  float: none !important;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
// .dx-toolbar-item,
// .dx-toolbar-menu-container {
  // vertical-align: top;
  // .dx-button-content {
  // }
// }

.order-0 {
  order: 0 !important;
}
.dx-checkbox-text {
  white-space: nowrap;
}
$lenght: 50;

@for $i from 0 through $lenght {
  .pl-#{$i} {
    padding-left: $i+ px;
  }

  .pt-#{$i} {
    padding-top: $i+ px;
  }

  .pr-#{$i} {
    padding-right: $i+ px;
  }

  .pb-#{$i} {
    padding-bottom: $i+ px;
  }

  .px-#{$i} {
    padding-left: $i+ px;
    padding-right: $i+ px;
  }

  .py-#{$i} {
    padding-top: $i+ px;
    padding-bottom: $i+ px;
  }

  .p-#{$i} {
    padding-left: $i+ px;
    padding-right: $i+ px;
    padding-top: $i+ px;
    padding-bottom: $i+ px;
  }

  .ml-#{$i} {
    margin-left: $i+ px;
  }

  .mt-#{$i} {
    margin-top: $i+ px;
  }

  .mr-#{$i} {
    margin-right: $i+ px;
  }

  .mb-#{$i} {
    margin-bottom: $i+ px;
  }

  .mx-#{$i} {
    margin-left: $i+ px;
    margin-right: $i+ px;
  }

  .my-#{$i} {
    margin-top: $i+ px;
    margin-bottom: $i+ px;
  }

  .m-#{$i} {
    margin-left: $i+ px;
    margin-right: $i+ px;
    margin-top: $i+ px;
    margin-bottom: $i+ px;
  }
  .gap-#{$i} {
    gap: $i+ px;
  }
}

.wf-100 {
  width: 100%;
}
.h-full {
  height: 100%;
}
@for $i from 1 through 50 {
  .fz-#{$i} {
    font-size: $i+ px;
  }
}

.d-flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-auto {
  flex: 0 0 auto;
}
.flex-col {
  flex-direction: column;
}
.d-flex-center {
  display: flex;
  align-items: center;
}
.align-items-start {
  align-items: flex-start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-between {
  justify-content: space-between;
}
.text-center {
  text-align: center;
}

.ant-modal-confirm-btns {
  float: inherit !important;
  text-align: center !important;
}

:deep .red {
  label {
    color: red;
  }
}
.red {
  label {
    color: red;
  }
}

.style-note {
  line-height: 12px;
  font-size: 11px;
  color: gray;
  padding-left: 5px;
}

.icon_status_history {
  width: 18.5px;
  height: 18.5px;
  margin-top: -1px;
}

.style-Id {
  margin-right: 5px;
  text-align: center;
  border: 1px solid rgb(164, 164, 164);
  border-radius: 5px;
  padding: 3px 4px;
  height: 26px;
}

.cell-center {
  text-align: center !important
}
.cell-right {
  text-align: right !important
}
.cell-left {
  text-align: left !important
}

.money-column {
  text-align: right !important;
}
.dx-button-ghost {
  border: none;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.column-focus {
  background-color: #5c95c5;
  color: white;
}
.column-hover {
  background-color: #D1E1F8;
  color: black;
}
.ele-opacity {
  opacity: 0.7;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.disabled {
  pointer-events: none;
  opacity: 0.4;
}
.custom-modal-delete {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 20px;

  img {
      width: 40px;
      margin-right: 5px;
  }

  span {
      padding: 0px 5px;
  }
  & + .text-align-center {
    text-align: center;
    .button-form-modal {
      margin: 0px 5px;
    }
  }
}
.error-group {
  margin-top: 2px;
  border-width: 0;
  padding: 10px;
  font-size: 12px;
  line-height: normal;
  word-wrap: break-word;
  color: #fff;
  background-color: #d9534f;
  border-radius: 4px;
  max-width: 200px;
  width: auto;
}
.ant-modal-confirm-title{
  font-size: 13px !important;
}
.confirmPopup {
  .ant-modal-confirm-btns {
    display: inline-flex;
    margin-top: 14px;
    justify-content: center;
    width: 100%;
  }
  .ant-modal-confirm-body{
    display: flex;
    align-items: center;
    .ant-modal-confirm-content{
      margin-top: 0;
      font-size: 13px;
    }
    svg {
      font-size: 30px;
    }
  }
}

.policy-group{
  font-size:13px;font-family:"Malgun Gothic",sans-serif;
}
.title-policy {
  font-size: 14px;
}
.dx-toolbar-center{
  text-align: inherit;
}
// style checkbox status
.custom-checkbox0 .dx-checkbox-text,
.custom-checkbox1 .dx-checkbox-text,
.custom-checkbox2 .dx-checkbox-text,
.custom-checkbox3 .dx-checkbox-text,
.custom-checkbox4 .dx-checkbox-text {
  margin-left: 5px;
  text-align: center;
  color: white;
  border-radius: 5px;
  width: 90px;
}

.custom-checkbox0 .dx-checkbox-text {
  background-color: #7F7F7F;
  box-shadow: rgba(0, 0, 0, 0.384) 0px 0px 10px 4px;
  border: 3px solid #7F7F7F;
}
.custom-checkbox1 .dx-checkbox-text {
  background-color: #376092;
  box-shadow: rgba(0, 0, 0, 0.384) 0px 0px 10px 4px;
  border: 3px solid rgba(255, 255, 255, 0);
}
.custom-checkbox2 .dx-checkbox-text {
  background-color: #376092;
  border: 3px solid #558ED5 !important;
}

.custom-checkbox3 .dx-checkbox-text {
  border: 3px solid rgba(255, 255, 255, 0);
  box-shadow: rgba(0, 0, 0, 0.384) 0px 0px 10px 4px;
  background-color: #C00000;
}
.custom-checkbox4 .dx-checkbox-text {
  background-color: #C00000;
  border: 3px solid #953735 !important;
}
.custom-smmary {
  border: 1px solid #ddd;
  border-top: none;
  background-color: #f2f5f7;
  display: flex;
  padding: 5px;
  justify-content: space-between;
  span {
    font-size: 15px;
    font-weight: bold;
  }
}
.custom-modal-send-email {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
	margin-top: 20px;

	img {
		width: 40px;
		margin-right: 5px;
	}

	span {
		padding-left: 5px;
	}
}
.dx-freespace-row {
  display: none !important;
}
#pa-620-popup {
  span.ant-tag {
    width: 88px;
  }
}
