.dx-datagrid-headers .dx-header-row {  
  background-color: #F2F5F7;  
}  

.dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row) > td:not(.dx-focused) {  
  background-color: #D1E1F8!important;  
  color: blue!important;  
  cursor: pointer;  
} 

.pagination-table{
  float: right;
}