// grid scss
@import "./settingStyle.scss";
@import "./customStyle.scss";
div,
span,
input,
label,
table {
  font-size: $fontSize+px;
}

table tr td {
  vertical-align: middle;
}

.page-content {
  padding: 2px 10px 10px;
}

.search-form {
  background: #f1f3f4;
  padding: 4px 10px 4px;

  >div {
    width: 100%;
    justify-content: flex-start !important;
    align-items: center;
    margin-right: 15px;
  }

  label {
    margin-right: 10px;
  }

  .lable-item {
    white-space: nowrap;
    margin-right: 10px;
    width: auto !important;
  }

  .col {
    align-items: center;
    display: flex;
    align-items: center;
    margin-top: 20px;

    .lable-item {
      width: 110px;
      display: inline-block;
    }

    .item:nth-child(2) {
      margin-left: 30px;
    }
  }
}

$lenght: 50;

@for $i from 1 through $lenght {
  .pl-#{$i} {
    padding-left: $i+ px;
  }

  .pt-#{$i} {
    padding-top: $i+ px;
  }

  .pr-#{$i} {
    padding-right: $i+ px;
  }

  .pb-#{$i} {
    padding-bottom: $i+ px;
  }

  .px-#{$i} {
    padding-left: $i+ px;
    padding-right: $i+ px;
  }

  .py-#{$i} {
    padding-top: $i+ px;
    padding-bottom: $i+ px;
  }

  .ml-#{$i} {
    margin-left: $i+ px;
  }

  .mt-#{$i} {
    margin-top: $i+ px;
  }

  .mr-#{$i} {
    margin-right: $i+ px;
  }

  .mb-#{$i} {
    margin-bottom: $i+ px;
  }

  .mx-#{$i} {
    margin-left: $i+ px;
    margin-right: $i+ px;
  }

  .my-#{$i} {
    margin-top: $i+ px;
    margin-bottom: $i+ px;
  }
}

.wf-100 {
  width: 100%;
}

@for $i from 1 through 50 {
  .fz-#{$i} {
    font-size: $i+ px;
  }
}

.d-flex {
  display: flex;
}

.d-flex-center {
  display: flex;
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.text-center {
  text-align: center;
}

.ant-modal-confirm-btns {
  float: inherit !important;
  text-align: center !important;
}

::v-deep .red {
  label {
    color: red;
  }
}
.red {
  label {
    color: red;
  }
}

.style-note {
  line-height: 12px;
  font-size: 11px;
  color: gray;
  padding-left: 5px;
}

.icon_status_history {
  width: 18.5px;
  height: 18.5px;
  margin-top: -1px;
}

.style-Id {
  margin-right: 5px;
  text-align: center;
  border: 1px solid rgb(164, 164, 164);
  border-radius: 5px;
  padding: 3px 4px;
  height: 25px;
}

.cell-center {
  text-align: center !important
}

.custom-grade-cell {
  margin: 3px 10px;
}

.money-column {
  text-align: right !important;
}
.dx-button-ghost {
  border: none;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.column-focus {
  background-color: #5c95c5;
  color: black;
}
.ele-opacity {
  opacity: 0.7;
}
