.ac-110 {
  padding: 10px;
  &__top {
    &-grid {
      display: flex;
      justify-content: space-between;
      &-items {
        border: 1px solid #bfbfbf;
        border-left: none;
        text-align: center;
        padding: 10px;
        overflow: hidden;
        flex-grow: 1;
        cursor: pointer;
        &:first-child {
          border-left: 1px solid #bfbfbf;
        }
        &-active {
          background-color: #D1E1F8;
        }
      }
    }
    &-flex {
      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-action {
        display: flex;
        align-items: center;
      }
    }
  }
  &__main {
    margin-top: 30px;
    &-main {
      &-slipRegistration {
        display: flex;
        align-items: center;
        &-stt {
          margin-right: 10px;
        }
      }
      #DxDataGridMainAc110 {
        height: calc(100vh - 560px);
        :deep .dx-freespace-row {
          display: none !important;
        }
      }
      &-tabUserType {
        border: 1px solid #bfbfbf;
        border-radius: 6px;
        height: 28px;
        line-height: 28px;
      }
    }
    &-detail {
      height: 278px;
      display: flex;
      margin-top: 15px;
      &-detail1 {
        height: 100%;
        width: calc(100% - 295px);
        min-width: calc(100% - 295px);
        padding-right: 10px;
        :deep(.dx-toolbar .dx-toolbar-items-container) {
          height: 55px !important;
        }
        &-wrapper {
          border: 1px solid #bfbfbf;
        }
        &-title {
          background-color: #bdd7ee;
          padding: 3px 5px;
          display: flex;
          align-items: center;
        }
        &-summary {
          display: flex;
          align-items: center;
          color: #ffffff;
          &-quantity {
            display: flex;
            justify-content: space-between;
            background-color: #17375e;
            padding: 4px 5px;
            min-width: 200px;
            margin-right: 10px;
          }
          &-income {
            display: flex;
            justify-content: space-between;
            background-color: #d99694;
            padding: 4px 5px;
            min-width: 200px;
            margin-right: 10px;
          }
          &-expenses {
            display: flex;
            justify-content: space-between;
            background-color: #bfbfbf;
            padding: 4px 5px;
            min-width: 200px;
          }
          span {
            margin: 0;
            font-size: 15px;
          }
          &-label {
          }
          &-value {
          }
        }
      }
      &-detail2 {
        width: 100%;
        &-upload {
          border: 1px solid #ddd;
          height: 100%;
          display: flex;
          overflow-y: auto;
        }
      }
      #DxDataGridDetailAc110 {
        height: 242px;
        :deep .dx-freespace-row {
          display: none !important;
        }
        :deep .dx-datagrid-focus-overlay {
          visibility: hidden !important;
        }
      }
    }
  }
  .disable-icon-column {
    pointer-events: none;
    opacity: .1;
  }
  .disable-input-column {
    pointer-events: none;
    opacity: .4;
  }
}
