.ac-110 {
  padding: 10px;
  &__top {
    &-grid {
      display: flex;
      justify-content: space-between;
      &-items {
        border: 1px solid #bfbfbf;
        border-left: none;
        text-align: center;
        padding: 10px;
        overflow: hidden;
        flex-grow: 1;
        cursor: pointer;
        &:first-child {
          border-left: 1px solid #bfbfbf;
        }
        &-active {
          background-color: #d1e1f8;
        }
      }
    }

    &-buttons {
      display: flex;
      align-items: center;
      :deep {
        .dx-button-content {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  &__main {
    margin-top: 10px;
    &-main {
      &-slipRegistration {
        display: flex;
        align-items: center;
        &-stt {
          margin-right: 10px;
        }
      }
      #DxDataGridMainAc110 {
        height: calc(100vh - 540px);
        :deep .dx-freespace-row {
          display: none !important;
        }
        :deep #dx-col-1 {
          padding: 0;
        }
        :deep td[aria-describedby="dx-col-1"] {
          padding: 0;
          box-sizing: border-box;
          pointer-events: none;
        }
        .ac-110-checkboxAll {
          cursor: pointer;
          width: 80px;
          text-align: center;
          justify-content: center;
          height: 26px;
          padding-top: 2px;
          :deep .dx-checkbox.dx-state-readonly .dx-checkbox-icon {
            border-color: #ddd;
            cursor: pointer;
          }
          &-disable {
            background-color: #dddddd49;
            pointer-events: none;
          }
        }
        .ac-110-checkbox {
          cursor: pointer;
          width: 80px;
          height: 36px;
          justify-content: center;
          padding-top: 8px;
          pointer-events: auto;
          :deep .dx-checkbox.dx-state-readonly .dx-checkbox-icon {
            border-color: #ddd;
            cursor: pointer;
          }
          &-disable {
            background-color: #dddddd49;
            pointer-events: none;
          }
        }
      }
      &-tabUserType {
        border: 1px solid #bfbfbf;
        border-radius: 6px;
        height: 28px;
        line-height: 28px;
      }
    }
    &-detail {
      height: 278px;
      display: flex;
      margin-top: 15px;
      &-detail1 {
        height: 100%;
        width: calc(100% - 295px);
        min-width: calc(100% - 295px);
        padding-right: 10px;
        :deep(.dx-toolbar .dx-toolbar-items-container) {
          height: 55px !important;
        }
        &-wrapper {
          border: 1px solid #bfbfbf;
        }
        &-title {
          background-color: #bdd7ee;
          padding: 3px 5px;
          display: flex;
          align-items: center;
        }
        &-summary {
          display: flex;
          align-items: center;
          color: #ffffff;
          &-quantity {
            display: flex;
            justify-content: space-between;
            background-color: #17375e;
            padding: 4px 5px;
            min-width: 200px;
            margin-right: 10px;
          }
          &-income {
            display: flex;
            justify-content: space-between;
            background-color: #d99694;
            padding: 4px 5px;
            min-width: 200px;
            margin-right: 10px;
          }
          &-expenses {
            display: flex;
            justify-content: space-between;
            background-color: #bfbfbf;
            padding: 4px 5px;
            min-width: 200px;
          }
          span {
            margin: 0;
            font-size: 15px;
          }
          &-label {
          }
          &-value {
          }
        }
      }
      &-detail2 {
        width: 100%;
        &-upload {
          border: 1px solid #ddd;
          height: 100%;
          display: flex;
          overflow-y: auto;
        }
      }
      #DxDataGridDetailAc110 {
        height: 242px;
        :deep .dx-freespace-row {
          display: none !important;
        }
        :deep .dx-datagrid-focus-overlay {
          visibility: hidden !important;
        }
      }
    }
  }
  .disable-icon-column {
    pointer-events: none;
    opacity: 0.1;
  }
  .disable-input-column {
    pointer-events: none;
    opacity: 0.4;
  }
  .DxDataGridMain-ac-110-sumary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    border: 1px solid #ddd;
    border-top: none;
    padding: 7px;
    color: rgba(51, 51, 51, 0.7);
  }
  .tag-green-ac110 {
    color: #ffffff;
    background-color: #337614;
    height: 28px;
    width: 40px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tag-red-ac110 {
    color: #ffffff;
    background-color: #bb3835;
    height: 28px;
    width: 40px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mr-5 {
    margin-right: 5px;
  }
}
